node_modules/
.env
*.log
dist/
build/
release/
.vs/
*.suo
*.user
Debug/
Release/
reward-backups/
shop-backups/
Imagens Launcher/
repo/
servers/
sounds/
img/
*.exe
*.dll
*.pdb
*.zip
*.rar
*.7z
*.tar.gz
*.iso
*.bin
*.pak
*.wav
*.mp3
*.ogg
*.mp4
*.avi
*.mkv
*.png
*.jpg
*.jpeg
*.gif
*.ico
*.bmp
